@import "tailwindcss";

:root {
  --evergreen: #1a281f;
  --teal: #a4c2a8;
  --taupe: #635255;

  --light: var(--teal);
  --dark: var(--evergreen);
  --mid: var(--taupe);

  /* light mode */
  --background: var(--light);
  --foreground: var(--dark);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-light: var(--light);
  --color-dark: var(--dark);
  --color-mid: var(--mid);
  
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);

  --color-evergreen: var(--evergreen);
  --color-teal: var(--teal);
  --color-taupe: var(--taupe);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: var(--dark);
    --foreground: var(--light);
  }
}

@layer base {
    section {
        @apply flex flex-col items-center justify-center gap-y-5
    }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
